<body>

  <h2>Budget</h2>
  
  <table style="width:100%">
    <tr>
      <th>Expenses</th>
      <th>Amount</th> 
      <th>Month</th>
    </tr>
    <tr>
      <td>Transportation</td>
      <td>R400</td>
      <td>May</td>
    </tr>
    <tr>
      <td>Food</td>
      <td>R600</td>
      <td>May</td>
    </tr>
    <tr>
        <td>Data</td>
        <td>R200</td>
        <td>May</td>
      </tr>
      <tr>
          <td>Unexpected</td>
          <td>R200</td>
          <td>May</td>
        </tr>
    <tr>
      <td>Total</td>
      <td>R1400</td>
      <td>May</td>
    </tr>
  </table>
  
  </body>